# REQUIRED CONFIG
BOT_TOKEN = "5423021874:AAF_AUIFrjSKERyhjs7M5NrCzX4tK5TlbwA"
GDRIVE_FOLDER_ID = "19XQQR1NzNROVKMYXDU8Zj2CxcmB-ZVgy"
OWNER_ID = 1926032573
DOWNLOAD_DIR = "downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 17627395
TELEGRAM_HASH = "1f1775aa25981644ac5a06150b912226"
AUTHORIZED_CHATS = ""
# OPTIONAL CONFIG
DATABASE_URL = "postgres://jkniddnb:2NRVsP7Jlsxuc8wUEPpc4A3t7F7uhifb@john.db.elephantsql.com/jkniddnb"
SUDO_USERS = "1580990190"
IGNORE_PENDING_REQUESTS = "True"
USE_SERVICE_ACCOUNTS = "True"
INDEX_URL = "https://indexbot321.rubikchampo.workers.dev/1:/"
STATUS_LIMIT = "3"
STOP_DUPLICATE = "True"
CMD_INDEX = ""
EXTENTION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = "True"
# Leech
TG_SPLIT_SIZE = "2000000000"
AS_DOCUMENT = "True"
EQUAL_SPLITS = ""
CUSTOM_FILENAME = ""
# Pivate Files
ACCOUNTS_ZIP_URL = ""
TOKEN_PICKLE_URL = ""
MULTI_SEARCH_URL = ""
YT_COOKIES_URL = ""
NETRC_URL = ""
# Shortener
SHORTENER = ""
SHORTENER_API = ""
# APPDRIVE,GDFLIX,DRIVEAPP,DRIVEBIT,DRIVELINKS,DRIVESHARER,DRIVEACE ETC COMMON LOGIN CREDENTIALS
UNIFIED_EMAIL = "153_bdpl@pallavimodelschools.org"
UNIFIED_PASS = "abhi7890"
# GDTOT,HUBDRIVE,KATDRIVE,DRIVEFIRE COOKIES
GDTOT_CRYPT = "aXRLY0VtVFJFc1o4R2VPQjViamdJdXg1djZSYWkxR21QKzZxdG4yV3I1Yz0%3D"
HUBDRIVE_CRYPT = "NTBOaVJuUFpncFVmQWl4d2FUL28zdzlYbU11YVAyQ3JLclZCTndHQ3VuWT0%3D"
KATDRIVE_CRYPT = "R2htWmtWVkFCRDhkMHNBWU5qVGNFdzZQMXlPRW5jK0NnOWV5ZlVRNW9Yaz0%3D"
DRIVEFIRE_CRYPT = "L3pkM1E2QitOYmpQbjl0RHplNkI2WGZRTGtzSXVPRlh6TmtwYVl6c2JoUT0%3D"
# Size Limits
ZIP_UNZIP_LIMIT = ""
CLONE_LIMIT = ""
STORAGE_THRESHOLD = ""
# Buttons
VIEW_LINK = "False"
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
BUTTON_SIX_NAME = ""
BUTTON_SIX_URL = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
